body{
     background-color: black;
     color: white;
}

input{
    background-color: transparent !important ;
    color: white;
}

input::placeholder{
    color: white;
}

.message_content:nth-child(2n){
    background-color: gray;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
}